.container{
    background-color: azure;
    width:110%;
    padding: 100px;
    position: static;
overflow: hidden;
height: 800px;
}
.container p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    
}
.container h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 30px -60px;
}
.container .button_1{
    font-size: 25px;
    background-color: rgb(248, 226, 27);
    margin-top:0%;
    overflow: auto;
    margin: auto -70px;
    margin-top: 40px;
    padding:0px;
    width:200px;  
    border-radius: 6px;
    color:aliceblue;
}
.container .button_2{
    font-size: 25px;
    background-color: rgb(55, 127, 185);
    margin-top: 0px;
    overflow: auto;
    margin: auto -70px;
    margin-top: 40px;
    padding:0px;
    width:200px;
    border-radius: 6px;   
    color:aliceblue 
}
html,body{
    margin:0%;
    padding:0%;
overflow: hidden;
}